/*.naaqs-map-container {
  background-color: #2a2a2b;
  position:relative;
  padding:.5em;
  margin-bottom:1em;
  border:solid 1px #707073;
  border-radius: 4px;
}*/
.naaqs-map-container {
  background-color: #2a2a2b;
  position:relative;
	width: 100%;
	display:block;
	height:auto;
	padding:.786em;
	margin-bottom:1em;
	border:solid 1px #707073;
  border-radius: 4px;
}/*
#naaqsMap{
	width:98%;
	height:99%;
	position:absolute;
	top:0;
	left:1%;
	padding:40px;
	
}*/
#naaqsMap{
	padding:0px;
	position:relative;
	width:100%;
	height:99%;
	top:0;
	left:0%;
}
#naaqs-map-title {
  /*margin-bottom:.5em;  */
  text-align:center;
  font-family: 'Varela Round',Montserrat,"Open Sans", sans-serif;
  background-color: #2a2a2b;
  position:relative;
}
/*@media(min-width:610px){
  #naaqs-map-title {
  margin-bottom:.5em;  
  text-align:center;
  font-family: Montserrat,"Open Sans", sans-serif;
  background-color: #2a2a2b;
  position:relative;
  }
}*/
#mapPollutant{
	color:#E0E0E3;
	font-weight:normal;
	font-size:1.5em;
}
#mapPollutant {
  white-space:nowrap;
}
.background {
  fill: none;
  pointer-events: all;
}
  
.feature {
  fill: #cccccc;
  cursor: pointer;
}

.feature.active {
  fill: transparent;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#states {
  fill: #aaa;
}

#states .active {
  display:none;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  fill: #b3b3b3;
  stroke: #fff;
  stroke-width: .2px;
}

.state:hover {
  fill: lightsteelblue;
}

g2 {  
  fill: none;
  stroke: #000; 
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: .5px;
}

#naaqs-map-mapLegend-disable {
  position: relative;
  bottom:0px;
  z-index:2;
  text-align: center;
  background-color: #2a2a2b;
}

#naaqs-map-mapLegend {
  padding-top:.5em;
  text-align: center;
  white-space:nowrap;
}

#naaqs-map-mapLegend .legendCells .cell .label {
  font-weight: normal;
  font-size: 1em;
}

.naaqs-map-legendLinear {
    background: none;
	fill: #E0E0E3;
}

.naaq-map-points {
	stroke: #8c8c8c;
	stroke-width:1px;
}

.naaqs-map-home{
	position:absolute;
}

.naaqs-map-home:before {
    z-index:2;
    top:0px;
    left:10px;
    padding: 2px;
    width: 2.143em;
    height: 2.143em;
    background-color: #666;
    background-color: rgba(102,102,102,0.80);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
	content: "\f015"; 
	font-family: 'icomoon';
	font-size: 1.429em;
	position:relative;
}  

.naaqsYear {
  padding: 0em;
  text-align:center;
  font-size:1.714em;
}

a.d3-slider-handle {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}