*
!.gitignore
!Gruntfile.js
!package.json
!bower.json
!.csslintrc
!index.html
!README.md
!src/
!src/**
!data/
!data/**
!fonts/
!fonts/**
!img/
!img/**
!video/
!video/**
!dist/
!dist/**
!Toxics2015Sparkplots/
!Toxics2015Sparkplots/**
