@charset "UTF-8";

 @font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Merriweather-regular/Merriweather-regular.eot');
  src: url('../../fonts/Merriweather-regular/Merriweather-regular.eot?#iefix') format('embedded-opentype'),
       local('Merriweather'),
       local('Merriweather-regular'),
       url('../../fonts/Merriweather-regular/Merriweather-regular.woff2') format('woff2'),
       url('../../fonts/Merriweather-regular/Merriweather-regular.woff') format('woff'),
       url('../../fonts/Merriweather-regular/Merriweather-regular.ttf') format('truetype'),
       url('../../fonts/Merriweather-regular/Merriweather-regular.svg#Merriweather') format('svg');
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat','Lato',"Source Sans Pro", "Helvetica Neue", "Helvetica", 'Roboto', "Arial",  sans-serif;
    color: #1a1a1a;
    background-color: #ffffff;
	line-height: 1.55;
}
body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

h1,
h2,.h2,
h3,
h4,
h5,
h6,.h6 {
    margin: 0 0 10px;
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    letter-spacing: 1px;
	line-height:1.2;
}
.naaqs_margin h3 {
	margin: 0 0 7px;
}
p {
	line-height: 1.55;
}

.semi-bold-600{
	font-weight:600;
}

/* FONT CHANGES TO CONTROL EM SETTINGS */
body {
  font-size: 11px;
}/*
@media(min-width:768px) {
  body {
    font-size: 12px;
  }
}*/
@media(min-width:992px) and (min-height:700px){
  body {
    font-size: 12px;
  }
}
@media(min-width:992px) and (min-height:768px){
  body {
    font-size: 13px;
  }
}
@media(min-width:1367px) and (min-height:768px) {
  body {
    font-size: 15px;
  }
}
@media(min-width:2200px) {
  body {
    font-size: 17px;
  }
}

h1,
.h1 {
  font-size: 2.571em;
}
h2,
.h2 {
  font-size: 2.143em;
}
h3,
.h3 {
  font-size: 1.714em;
}
h4,
.h4 {
  font-size: 1.286em;
}
h5,
.h5 {
  font-size: 1em;
}
h6,
.h6 {
  font-size: .857em;
}

.h6{
	color: #fff;
}

/* line-height = 1.5 unless specified */
.em_80 {
	font-size: .80em;
	margin: 0 0 0px;
}
.em_82 {
	font-size: .82em;
	margin: 0 0 15px;
	line-height: 1.6;
}
.em_82_2 {
	font-size: .82em;
	margin: 0 0 7px;
	line-height: 1.6;
}
.em_90 {
	font-size: .90em;
	margin: 0 0 7px;
	line-height: 1.6;
}
.em_97 {
	font-size: .97em;
	margin: 0 0 0;
	padding-bottom:10px;
}
.em1 {
	font-size: 1em;
}
.em1_2 {
    font-size: 1.2em;
	margin: 0 0 15px;
}
.em1_45 {
	font-size: 1.45em;
	margin: 0 0 25px;
	line-height: 1.6;
}
.em_link {
	font-size:75%;
}
a, a:focus {
    text-decoration: none;
	border-bottom: 1px #0071bc dotted;
	color: #0071bc;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	outline: none;
}
a:hover {
    text-decoration: none;
    color: #009900;
	border-bottom: 1px #009900 dotted;
}
a.link:hover {
    text-decoration: none;
    /*color: #009900;*/
}

/* PADDING FOR CONTENT PAGES*/
.paddingfromtop {
	padding-top: 25px;
}
.welcome_padding .paddingfromtop {
  padding-top: 60px;
}
@media(min-height:600px){
	.welcome_padding .paddingfromtop {
		padding-top: 25px;
	}
}

/* CHART OBJECT CONTAINERS */
.chart-object-border{
	border: solid 1px #e6e6e6 !important;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
			box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}
#toxics-map-container {
	border:solid 1px #e6e6e6;
	border-radius: 3px;
}

/* STORY PAGE IMAGES AND TEXT */
.picContainer { /* don't think this is needed since using fullpage */
    display: table;
    width: 100%;
    height: 100%; 
}

.introduction_bkgrnd{
	background: -o-linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../../img/images_2017/asthmaawareness_1440x900.jpg) no-repeat center/cover fixed;
	background: -moz-linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../../img/images_2017/asthmaawareness_1440x900.jpg) no-repeat center/cover fixed;
	background: -webkit-linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../../img/images_2017/asthmaawareness_1440x900.jpg) no-repeat center/cover fixed;
	background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../../img/images_2017/asthmaawareness_1440x900.jpg) no-repeat center/cover fixed;
	background: -ms-linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../../img/images_2017/asthmaawareness_1440x900.jpg) no-repeat center/cover scroll;
}
.growth_bkgrnd{
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../img/images_2017/growth_1440x900.jpg) no-repeat center/cover fixed;
	background: -moz-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../img/images_2017/growth_1440x900.jpg) no-repeat center/cover fixed;
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../img/images_2017/growth_1440x900.jpg) no-repeat ccenter/cover fixed;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../img/images_2017/growth_1440x900.jpg) no-repeat center/cover fixed;
	background: -ms-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../img/images_2017/growth_1440x900.jpg) no-repeat center/cover scroll;
}
.haze_bkgrnd{
	background: -o-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.65)), #f2f2f2 url(../../img/images_2017/visibility_1440x900.jpg) no-repeat center/cover fixed;
	background: -moz-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.65)), #f2f2f2 url(../../img/images_2017/visibility_1440x900.jpg) no-repeat center/cover fixed;
	background: -webkit-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.65)), #f2f2f2 url(../../img/images_2017/visibility_1440x900.jpg) no-repeat center/cover fixed;
	background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.65)), #f2f2f2 url(../../img/images_2017/visibility_1440x900.jpg) no-repeat center/cover fixed;
	background: -ms-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.65)), #f2f2f2 url(../../img/images_2017/visibility_1440x900.jpg) no-repeat center/cover scroll;
}
.toxics_bkgrnd{
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), #f2f2f2 url(../../img/images_2017/toxics_1440x900.jpg) no-repeat center/cover fixed;
	background: -moz-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), #f2f2f2 url(../../img/images_2017/toxics_1440x900.jpg) no-repeat center/cover fixed;
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), #f2f2f2 url(../../img/images_2017/toxics_1440x900.jpg) no-repeat center/cover fixed;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), #f2f2f2 url(../../img/images_2017/toxics_1440x900.jpg) no-repeat center/cover fixed;
	background: -ms-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), #f2f2f2 url(../../img/images_2017/toxics_1440x900.jpg) no-repeat center/cover scroll;
}
@media(max-width:1024px) {
	.introduction_bkgrnd,
	.growth_bkgrnd, 
	.haze_bkgrnd,
	.toxics_bkgrnd {
		background-attachment: scroll;
	}
}
.story-text {
	/*display: table-cell;*/
	vertical-align: middle;
	text-align: left;
	font-size: 1.714em; 
	color: #fff;
	text-shadow: 2px 1px 4px #1a1a1a;
	line-height:1.4;
}
@media(min-width:768px) { 
	.story-text {
	font-size: 2.143em;
	}
}

.resource_bkgrnd {
	width: 100%;
    padding: 50px 0;
    color: #fff;
    background: -o-linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), #f2f2f2 url(../../img/images_2017/resources_1920x366.jpg) no-repeat center/cover scroll;
	background: -moz-linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), #f2f2f2 url(../../img/images_2017/resources_1920x366.jpg) no-repeat center/cover scroll;
	background: -webkit-linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), #f2f2f2 url(../../img/images_2017/resources_1920x366.jpg) no-repeat center/cover scroll;
	background: -ms-linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), #f2f2f2 url(../../img/images_2017/resources_1920x366.jpg) no-repeat center/cover scroll;
	background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), #f2f2f2 url(../../img/images_2017/resources_1920x366.jpg) no-repeat center/cover scroll;
}
.social-media-padding {
    padding-top: 100px;
	text-align: center;
}
@media(min-width:767px) {
    .social-media-padding {
        padding-top: 250px;
    }

    /*.resource-section {
        padding: 100px 0;
    }*/
}
ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

/*
 * BUTTON SETTINGS AND EFFECTS
*/
.modal-btn-padding {
	padding: 10px 0 20px;
}

.btn {
	font-size:1.2em;
	text-transform: uppercase;
    font-family: 'Montserrat','Lato',"Source Sans Pro", "Helvetica Neue", "Helvetica", 'Roboto', "Arial",  sans-serif;
    font-weight: 400;
    /*-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;*/
	/*min-width: 50px;
	max-width: 250px;*/
	padding: 6px 12px;
	border: 2px solid rgba(0,113,188,.75);
	border-radius: 2px;
	background: #ffffff;
	color: #0071bc;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.btn-lg-alt {
	font-size:1.2em;
	background: #ffffff;
	padding: 10px 16px;
	-webkit-box-shadow: 1px 1px 6px rgba(0, 113, 188, 0.2);
		box-shadow: 1px 1px 6px rgba(0, 113, 118, 0.2);
}
.btn-dbl-border, .btn-dbl-border:active {
	-webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px rgba(0,113,188,.75), 0 0 7px 5px rgba(0,113,188,.15);
			box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px rgba(0,113,188,.75), 0 0 7px 5px rgba(0,113,188,.15);  
}	
.btn:focus, .btn:active, .button--rayen:hover{
   outline: none ;
   color: #0071bc;
   border: 2px solid rgba(0,113,188,.75);
}

/* MODAL AND RAYEN BUTTON EFFECTS https://tympanus.net/Development/ButtonStylesInspiration/ */
.button--rayen {
	overflow: hidden;
	padding: 0;
	/*width: 230px;*/
}
.button--rayen::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0071bc;
	color:#fff;
	-webkit-transform: translate3d(-101%, 0, 0);
			transform: translate3d(-101%, 0, 0);
}
.button--rayen > span {
	display: block;
}
.button--rayen::before,
.button--rayen > span {
	padding: 6px 12px;
	-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.4525, 1);
			transition-timing-function: cubic-bezier(0.75, 0, 0.4525, 1);
}
a.button--rayen::before,
a.button--rayen > span {
	padding: 10px 16px;
	-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.4525, 1);
			transition-timing-function: cubic-bezier(0.75, 0, 0.4525, 1);
}
.button--rayen:hover::before {
	-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}
.button--rayen:hover > span {
	-webkit-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);
}

/* HOVER EFFECT FOR STORY MAP IMAGE LINKS */
.hovereffect {
	width:100%;
	height:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}
.hovereffect .overlay {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	z-index:2;
	border-radius:3px;
}
.hovereffect img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.hovereffect p {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:1.3em;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
	margin:50px 0 0 0;
}
.hovereffect a.info-hvr {
	font-size:1.2em;
	font-family: "Montserrat","Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 400;
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color: #0071bc;
	border:2px solid rgba(0,113,188,.75);
	border-radius: 2px;
	background-color: #ffffff;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin: 10px auto;
	padding:5px 10px;
}
@media(min-width:768px) {
	.hovereffect a.info-hvr {
		font-size:1.2em;
		font-family: "Montserrat","Open Sans",Helvetica,Arial,sans-serif;
		font-weight: 400;
		text-decoration:none;
		display:inline-block;
		text-transform:uppercase;
		color:#0071bc;
		border: 2px solid rgba(0,113,188,.75);
		border-radius: 2px;
		background-color:#ffffff;
		opacity:0;
		filter:alpha(opacity=0);
		-webkit-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out;
		margin:30px 10px 0;
		padding:7px 14px;
	}
}
.hovereffect a.info-hvr:hover {
	/*box-shadow:0 0 5px #fff;*/
	background-color: #0071bc;
	color: #fff;
	border: 2px solid #3f93cc;
	border-radius:2px;
}
.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}
.hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
}
.hovereffect:hover p,.hovereffect:hover a.info-hvr {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
}
.hovereffect:hover a.info-hvr {
	-webkit-transition-delay:.2s;
	transition-delay:.2s;
}
.info-hvr-close:hover {
	background-color: #0071bc;
	border: 2px solid #3f93cc;
	color: #fff;
	-webkit-transition:all .2s ease-in-out;
		    transition:all .2s ease-in-out;
}

/* AIR FOOTER LOGO */
#air-footer {
   position:absolute;
   height:50px;
   /*left:0;*/
   bottom:0;
   display: inline-block;
   width: 100%;
   background: -ms-linear-gradient(bottom, #0071bc 0%, #0071bc 24.2991%, #ffffff 0, #ffffff 26.1682%, #0071bc 0%, #0071bc 37.3832%, #ffffff 0, #ffffff 41.1215%, #0071bc 0%, #0071bc 49.5327%, #ffffff 0, #ffffff 55.1402%, #0071bc 0%, #0071bc 60.7477%, #ffffff 0, #ffffff 70.0935%, #0071bc 0%, #0071bc 73.8318%, #ffffff 0, #ffffff 84.1121%, #0071bc 0%, #0071bc 85.9813%, #ffffff 0, #ffffff 96.2617%, #0071bc 0%, #0071bc 97.1963%, #ffffff 0);
   background: -o-linear-gradient(bottom, #0071bc 0%, #0071bc 24.2991%, #ffffff 0, #ffffff 26.1682%, #0071bc 0%, #0071bc 37.3832%, #ffffff 0, #ffffff 41.1215%, #0071bc 0%, #0071bc 49.5327%, #ffffff 0, #ffffff 55.1402%, #0071bc 0%, #0071bc 60.7477%, #ffffff 0, #ffffff 70.0935%, #0071bc 0%, #0071bc 73.8318%, #ffffff 0, #ffffff 84.1121%, #0071bc 0%, #0071bc 85.9813%, #ffffff 0, #ffffff 96.2617%, #0071bc 0%, #0071bc 97.1963%, #ffffff 0);
   background: -webkit-linear-gradient(bottom, #0071bc 0%, #0071bc 24.2991%, #ffffff 0, #ffffff 26.1682%, #0071bc 0%, #0071bc 37.3832%, #ffffff 0, #ffffff 41.1215%, #0071bc 0%, #0071bc 49.5327%, #ffffff 0, #ffffff 55.1402%, #0071bc 0%, #0071bc 60.7477%, #ffffff 0, #ffffff 70.0935%, #0071bc 0%, #0071bc 73.8318%, #ffffff 0, #ffffff 84.1121%, #0071bc 0%, #0071bc 85.9813%, #ffffff 0, #ffffff 96.2617%, #0071bc 0%, #0071bc 97.1963%, #ffffff 0); 
   background: -moz-linear-gradient(bottom, #0071bc 0%, #0071bc 24.2991%, #ffffff 0, #ffffff 26.1682%, #0071bc 0%, #0071bc 37.3832%, #ffffff 0, #ffffff 41.1215%, #0071bc 0%, #0071bc 49.5327%, #ffffff 0, #ffffff 55.1402%, #0071bc 0%, #0071bc 60.7477%, #ffffff 0, #ffffff 70.0935%, #0071bc 0%, #0071bc 73.8318%, #ffffff 0, #ffffff 84.1121%, #0071bc 0%, #0071bc 85.9813%, #ffffff 0, #ffffff 96.2617%, #0071bc 0%, #0071bc 97.1963%, #ffffff 0); 
   background: linear-gradient(to bottom, #0071bc 0%, #0071bc 24.2991%, #ffffff 0, #ffffff 26.1682%, #0071bc 0%, #0071bc 37.3832%, #ffffff 0, #ffffff 41.1215%, #0071bc 0%, #0071bc 49.5327%, #ffffff 0, #ffffff 55.1402%, #0071bc 0%, #0071bc 60.7477%, #ffffff 0, #ffffff 70.0935%, #0071bc 0%, #0071bc 73.8318%, #ffffff 0, #ffffff 84.1121%, #0071bc 0%, #0071bc 85.9813%, #ffffff 0, #ffffff 96.2617%, #0071bc 0%, #0071bc 97.1963%, #ffffff 0);
}

/* TEXT SELECTION SETTINGS */
::-moz-selection {
    text-shadow: none;
    background: none;
	color:#009900;
}

::selection {
    text-shadow: none;
    background: none;
	color:#009900;
}
/*
svg text::-moz-selection {
    text-shadow: none;
    background: none;
	color:#009900;
	fill: #009900;
}

svg text::selection {
    text-shadow: none;
    background: none;
	color:#009900;
	fill: #009900;
}*/

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

/* EPA logo */ 
.epa-logo-size {
	height:80px;
	width:80px;
	margin: 15px 0;
}
.epaSocial .epa-logo-size {
	margin: 50px 0;
}