/*ACCESSIBILITY CHANGE
 * Skip to content
*/
.skip {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }
a.skip:active, 
a.skip:focus, 
a.skip:hover {
	left: 0; 
	top: 0;
	width: auto; 
	height: auto; 
	overflow: visible; 
}
/*ACCESSIBILITY CHANGE
 * Tab navigation
 * Below applies when using the tab button to focus outlines on links and buttons; javascript overrides this once mouseclicked 
*/
a {
	padding: 1px;
}
a:focus { 
	outline: 2px #ff00ff dotted; 
}
.button--rayen:focus, .btnPly:focus, .btnFS:focus, .btn-mobile-share:focus  {
	border: 2px #ff00ff dotted;
}
.button--rayen:active {
	border-color:#0071bc;
}