/* Page Loader 
This only works with JavaScript, 
if it's not present, don't show loader http://smallenvelop.com/display-loading-icon-page-loads-completely/ */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	background-color: #000;
	color:#fff;
	text-align:center;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.report-loading-position{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-animation: fadein 2s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 2s ease-in-out; /* Firefox < 16 */
		-ms-animation: fadein 2s ease-in-out; /* Internet Explorer */
		 -o-animation: fadein 2s ease-in-out; /* Opera < 12.1 */
			animation: fadein 2s ease-in-out;
}
.report-loading-text{
	font-size:1.7em;
	padding-top:.25em;
}
img.epa_seal{
	height:55%;
	width:55%;
}
.spinner {
	display: inline-block;
	margin: .5em;
	animation: anim-rotate 2s infinite linear;
	color: #fff;
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes anim-rotate {
	0% {
		-moz-transform: rotate(0);  
		-webkit-transform: rotate(0);  
		-o-transform: rotate(0);  
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-moz-transform: rotate(360deg);  
		-webkit-transform: rotate(360deg);  
		-o-transform: rotate(360deg);  
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}