/*Video css */

/* content-overlay is used to overlay text on top of bv-videos newer but unreliable method; not implemented */
.content-overlay {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-direction: column; /* works with row or column */
  -ms-flex-direction: column;
  flex-direction: column;
  
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items:center;
 
  -ms-flex-pack: center;	
  -webkit-justify-content: center;
  justify-content: center;
  
  /*height: 200px;
  width: 200px;*/
  /*margin: auto;*/
  /*padding: 50px 0;*/
  position: absolute;
  bottom: 0; top: 0; right: 0; left: 0;
  z-index: 11;
}

/* Video wrap new 2017 method */
.bv-video-wrap {
  width: 100%;
  height: 100%;
  /*Please note this is only required if you with to add the
  '.bv-video-wrap--ready' class on the 'onReady' event */
  display: none;
}
.bv-video-wrap--ready {
  display: block;
}
/* Optional overlay */
.bv-video-wrap::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: -webkit-linear-gradient(rgba(0,0,0,0.30), rgba(64,64,64,0.55));
	background: -moz-linear-gradient(rgba(0,0,0,0.30), rgba(64,64,64,0.55));
	background: -o-linear-gradient(rgba(0,0,0,0.30), rgba(64,64,64,0.55));
	background: -ms-linear-gradient(rgba(0,0,0,0.30), rgba(64,64,64,0.55));
	background: linear-gradient(rgba(0,0,0,0.30), rgba(64,64,64,0.55));
	z-index: 10; /* a z index of 10 is also set in the es6 code */
}
/* Video object */
.bv-video{
  width: 100%;
  height: 100%;
}
/* control holder for new method 
.vid-control-2 {
	color:#ccc;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: initial;  //modified from content-overlay 
	-ms-flex-direction: initial;
	flex-direction: initial;

	-ms-flex-align: flex-end;
	-webkit-align-items: flex-end;
	-webkit-box-align: flex-end;
	align-items:flex-end;

	-ms-flex-pack: center;	
	-webkit-justify-content: center;
	justify-content: center;
	
	height:100vh;
	
	position: absolute;
	padding:5px;
	bottom:20; left:20;
	z-index: 15;
	width:100px;
}*/


/* older method used on sunset video; replaced with bv-video http://www.bootply.com/MApQiAlsS7 */
/* video-wrap is older method for wrapping sunset video prior to bv-video method */
.video-wrap {
  width: 100%;
}
.video-wrap::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.video-wrap video {
  width: 100%;
  height: 100%;
}
#vid-bkgrnd { 
    position: absolute;
    /*top: 50%;
    left: 50%;*/
	right:0;
	bottom:0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /*-webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../../video/SnapShots/Sunset-Lapse.jpg) no-repeat;
    background-size: cover;*/
}
/* old video method on nasa video used in 2016 and replaced with bv-video */
.bkrnd-overlay{
	height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
	background: -webkit-linear-gradient(rgba(0,0,0,0.30), rgba(64,64,64,0.55));
	background: -moz-linear-gradient(rgba(0,0,0,0.30), rgba(64,64,64,0.55));
	background: -o-linear-gradient(rgba(0,0,0,0.30), rgba(64,64,64,0.55));
	background: -ms-linear-gradient(rgba(0,0,0,0.30), rgba(64,64,64,0.55));
	background: linear-gradient(rgba(0,0,0,0.30), rgba(64,64,64,0.55));	
}
 /*from seron here http://stackoverflow.com/questions/10797632/simulate-background-sizecover-on-video-or-img & from youtube video https://www.youtube.com/watch?v=O_Bw1_0u1P8 */
#video-container{ 
	width:100%; 
	height:100%;
	position:absolute; 
	left:0; 
	top:5px; 
	overflow:hidden;
}
/*from seron here http://stackoverflow.com/questions/10797632/simulate-background-sizecover-on-video-or-img */
#video-viewport {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	/*z-index: 5;  for accessing the video by click */
}
#video-viewport video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: -3; /*same z-index as background images */
}
#video-viewport .bkrnd-overlay{
	height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0px;
    z-index: -2;
	background: -webkit-linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70));
	background: -moz-linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70));
	background: -o-linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70));
	background: -ms-linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70));
	background: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70));
	-webkit-filter: sepia(.5) ;
    filter: sepia(.5) ;
}

#nasa-text {/* property when using video-container old method */
	z-index:2; /*for accessing the link by click */
}
.nasa-drop-shadow {
	text-shadow: 2px 1px 4px #1a1a1a;
	color:#ffffff;
}
.nasa-label {
	color:#bbd9f7;
	border-bottom-color: #bbd9f7;
}
/*
#debug {
	position: absolute;
	top: 0;
	z-index: 100;
	color: #fff;
	font-size: 12pt;
} */

/*** VIDEO CONTROLS CSS from http://codepen.io/frytyler/pen/juGfk ***/

/*older video method */
.vid-control{
	color:#ccc;
	position:absolute;
	bottom:20px;
	right:20px;
	width:68px;
	z-index:2; /*for accessing the video by click */
	display:none;
}
/* control bottom part */
.btmControl{
	clear:both;
}
.vid-control .btnPly {
	/*font-size:10px;*/
	float:left;
	width:34px;
	height:30px;
	padding:5px;
	background: #d9d9d9;
	cursor:pointer;
	border-radius: 4px 0 0 4px;
	border: 1px solid #bfbfbf;
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
}
/* .icon-play changes from http://wpsites.net/web-design/add-icons-to-buttons-in-wordpress-themes/ */
.vid-control .icon-play{
	background:url(../../img/play_pause.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
	content: "";
    display: inline-block;
    /*color: #fff;*/
    height: 20px;
    margin-right: 13px;
    position: relative;
    /*top: 0;
    vertical-align: middle;*/
    width: 20px;
}
.vid-control .icon-pause{
	background:url(../../img/play_pause.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
	content: "";
    display: inline-block;
    /*color: #fff;*/
    height: 20px;
    margin-right: 13px;
    position: relative;
    /*top: 0;
    vertical-align: middle;*/
    width: 20px;
}
.vid-control .selected{
	font-size:15px;
	color:#ccc;
}
.vid-control .btnFS{
	/*font-size:10px;*/
	width: 34px;
	height: 30px;
	border-radius: 0 4px 4px 0;
	padding:5px;
	float:left;
	background: #d9d9d9;
	border: 1px solid #bfbfbf;
	/*border-left: none;*/
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);

}
.vid-control .icon-fullscreen {  
	background:url(../../img/fullscreen.svg) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
	content: "";
    display: inline-block;
    color: #fff;
    height: 20px;
    margin-right: 0px;
    position: relative;
    /*top: -2px;
    vertical-align: middle;*/
    width: 20px;
}
