*
!Gruntfile.js
!package.json
!bower.json
!.csslintrc
!Web.config
!README.md
!*.html
!src/
!src/**
!data/
!data/**
!fonts/
!fonts/**
!img/
!img/**
!video/
!video/**
!Toxics2015Sparkplots/
!Toxics2015Sparkplots/**
