*
!.gitignore
!*.html
!Gruntfile.js
!package.json
!bower.json
!.csslintrc
!Web.config
!README.md
!src/
!src/**
!/dev/
!/dev/**
!data/
!data/**
data/source_files
!documentation/
!documentation/**
!fonts/
!fonts/**
!img/
!img/**
img/working_images
!video/
!video/**
video/MP4/workingvideofiles
!GAdownloadDemo/
!GAdownloadDemo/**
!*.ico
!*.png
!*.svg
!manifest.json
!browserconfig.xml