*
!.gitignore
!*.html
!Gruntfile.js
!package.json
!bower.json
!.csslintrc
!Web.config
!README.md
!src/
!src/**
!/dev/
!/dev/**
!data/
!data/**
data/source_files
data/highcharts/
!documentation/
!documentation/**
!fonts/
!fonts/**
!img/
!img/images_2017/
!img/images_2017/**
!video/
!video/video_2017/
!video/video_2017/**